################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/.vs
/.vscode
/PortfolioAnalyzer.Api/bin
/PortfolioAnalyzer.Api/obj/Debug/net6.0
/PortfolioAnalyzer.Api/obj/Release/net6.0
/PortfolioAnalyzer.Console/obj
/PortfolioAnalyzer.Console/bin
/PortfolioAnalyzer.Console/.vs
/PortfolioAnalyzer.Api/obj/PortfolioAnalyzer.Api.csproj.nuget.dgspec.json
/PortfolioAnalyzer.Core/obj
/PortfolioAnalyzer.Core/bin
/PortfolioAnalyzer.Console/IPortfolioFacade.cs
/PortfolioAnalyzer.Infrastructure/bin
/PortfolioAnalyzer.Infrastructure/obj
/PortfolioAnalyzer.Infrastructure.CompositionRoot/obj
/PortfolioAnalyzer.Infrastructure.CompositionRoot/bin
/PortfolioAnalyzer.Repository/bin
/PortfolioAnalyzer.Repository/obj
/PortfolioAnalyzer.Services/bin
/PortfolioAnalyzer.Services/obj
/PortfolioAnalyzer.Api/obj
/PortfolioAnalyzer.Application/obj
/PortfolioAnalyzer.Application/bin/Debug/net6.0
/PortfolioAnalyzer.UnitTest/obj/Debug/net6.0/PortfolioAnalyzer.UnitTest.assets.cache
/PortfolioAnalyzer.UnitTest/obj/Debug/net6.0/PortfolioAnalyzer.UnitTest.csproj.AssemblyReference.cache
/PortfolioAnalyzer.UnitTest/obj/Debug/net6.0/PortfolioAnalyzer.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
*.cs
/PortfolioAnalyzer.UnitTest/obj/Release/net6.0/PortfolioAnalyzer.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
/PortfolioAnalyzer.UnitTest/obj/Release/net6.0/PortfolioAnalyzer.UnitTest.csproj.AssemblyReference.cache
/PortfolioAnalyzer.UnitTest/obj/Release/net6.0/PortfolioAnalyzer.UnitTest.assets.cache
/PortfolioAnalyzer.UnitTest/obj/Release/net6.0/PortfolioAnalyzer.UnitTest.AssemblyInfoInputs.cache
/PortfolioAnalyzer.UnitTest/obj/project.nuget.cache
/PortfolioAnalyzer.UnitTest/obj/project.assets.json
/PortfolioAnalyzer.UnitTest/obj/PortfolioAnalyzer.UnitTest.csproj.nuget.g.props
/PortfolioAnalyzer.UnitTest/obj/PortfolioAnalyzer.UnitTest.csproj.nuget.dgspec.json
/PortfolioAnalyzer.UnitTest/bin/Debug/net6.0
/PortfolioAnalyzer.UnitTest/obj/Debug/net6.0
/PortfolioAnalyzer.UnitTest/bin/Release/net6.0
/.cr/personal/FavoritesList/List.xml
/PortfolioAnalyzer.UnitTest/obj/PortfolioAnalyzer.UnitTest.csproj.nuget.g.targets
